* {
  box-sizing: border-box;
}
.register {
  background-color: #3498db;
  font-family: "Arial", sans-serif;
  padding: 50px;
  height: 100vh;
  width: 100%;
}
.register-container {
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  height: 440px;
  background-color: #fff;
  border-radius: 5px;
}
.register-title {
  width: 70%;
  color: #777;
  font-size: 32px;
  margin: 28px auto;
  margin-bottom: 20px;
  text-align: center;
  /*padding-top: 40px;*/
}
.register-form {
  /*padding: 15px;*/
  text-align: center;
}
.register-form input {
  padding: 12px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  text-align: center;
  width: 90%;
  font-size: 16px;
  transition: border 0.2s, background-color 0.2s;
}
.register-form .field {
  background-color: #ecf0f1;
}
.register-form .field:focus {
  border: 2px solid #3498db;
}
.register-form .btn {
  margin-top: 20px;
  background-color: #3498db;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
}
.register-form .btn:hover,
.register-form .btn:active {
  background-color: #1f78b4;
  border: 2px solid #1f78b4;
}
.pass-link {
  text-align: center;
}
.pass-link a:link,
.pass-link a:visited {
  font-size: 12px;
  color: #777;
}
